{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "max-len": ["error", 120],
    "new-cap": 0,
    "no-console": 0,
    "no-shadow": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
